<h1>Users#showpopopopo</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% @books.each do |book| %>

  <%= @user.name %>
  <%= attachment_book_tag @user, :book_image, :fill, 100, 100,format:'jpeg' , fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
   <p><%= link_to "プロフィール編集" edit_user_path(@user)%></p>
  <% end %>

<%= paginate @books %>