*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slidemenu{
	height: 80px;
	width: 100%;
	background-color: black;
	position: relative;
}
h1{
	color: #fff;
	font-size: 15px;
}

.nav-item{
	color: #fff;
    float: left;
    margin-right: 20px;

}
